*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    box-shadow:0 2px 10px -2px rgba(128, 128, 128, 0.5); 
    cursor: pointer;
    position: fixed;
    top:-10px;
    background: white;
    z-index: 1000;
}

.logo{
    font-family:Verdana, sans-serif;
    color:#FF5733;
    font-size: 3rem;
    font-weight: bold;
    margin: 40px 0px 0px 70px;
}

#recipes{
    outline: none;
    width:200%;
    padding:10px;
    margin:58px 0px 0px 120px;
    border:1px solid black;
    border-radius: 5px;
}

.home-search{
    color:white;
    background-color:#FF5733;
    position:relative;
    top:-38px;
    left:791px;
    border-radius: 5px;
    width:38px;
    padding:5px;
}

a{
    text-decoration: none;
    padding:0px;
    color:black;
}

.culture{
    color:#FF5733;
   
}

.about-home{
    margin-right:125px;
}

.side-nav{
    margin:65px 0px 0px 600px;
}

.about-home, .recipe-nav, .culture{
    font-size:1.3rem;
}

.culture, .recipe-nav{
    margin-right:50px;
}

.about-home:hover, .recipe-nav:hover, .culture:hover{
    color:#FF5733;
}

.banner-txt{
    font-size:3rem;
    margin-top:200px;
}

