*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    box-shadow:0 2px 10px -2px rgba(128, 128, 128, 0.5); 
    cursor: pointer;
    position: fixed;
    top:-10px;
    background: white;
    z-index: 1000;
}

.logo{
    font-family:Verdana, sans-serif;
    color:#FF5733;
    font-size: 3rem;
    font-weight: bold;
    margin: 40px 0px 0px 70px;
}

#recipes{
    outline: none;
    width:200%;
    padding:10px;
    margin:58px 0px 0px 120px;
    border:1px solid black;
    border-radius: 5px;
}

.home-search{
    color:white;
    background-color:#FF5733;
    position:relative;
    top:-38px;
    left:791px;
    border-radius: 5px;
    width:38px;
    padding:5px;
}

a{
    text-decoration: none;
    padding:0px;
    color:black;
}

.about-home{
    margin-right:125px;
}

.side-nav{
    margin:65px 0px 0px 600px;
}

.about-home, .recipe-nav, .culture{
    font-size:1.3rem;
}



.culture, .recipe-nav{
    margin-right:50px;
}

.about-home:hover, .recipe-nav:hover, .culture:hover{
    color:#FF5733;
}

.head-intro{
    font-size:4rem;
    letter-spacing: 5px;
    padding:10px;
    margin:250px 0px 0px 200px;
    font-family:arial;
}

.intro-img{
    width:600px;
    position:absolute;
    top:200px;
    left: 1100px;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.intro-txt{
    padding:10px;
    font-size:1.5rem;
    margin:0px 0px 0px 200px;
    line-height: 35px;
}


.explore-btn{
    position: absolute;
    top:650px;
    left:200px;
    padding:20px;
    background-color:#FF5733;
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 2px;
} 

.explore-btn:hover {
    background-color: #FF4500; 
    transform: scale(1.05); 
    transition: all 0.3s ease; 
}


.about-header{
    font-size: 3rem;
    margin-top: 350px;
    font-family:arial;
}

.about-container{
    display: grid;
    place-items: center;
}

.about-search, .orig-img, .fresh-img, .culture-img, .service-img, .diverse-img{
    border-radius:50%;
    width:70px;
    background:  #FF4500;
    padding:10px;
}

.about-search{
    margin:80px 0px 0px -350px;
}

.flavors, .honor, .fresh, .diverse, .service, .filipino{
    font-size:2rem;
    font-weight: bold;
}

.flavors{
    margin-left: -470px;
}

.honor{
    margin-left:-500px;
}

.fresh{
    margin-left: -610px;
}

.flavor-txt{
    margin-left:-730px
}

.honor-txt{
    margin-left: -730px;
}

.fresh-txt{
    margin-left: -730px;
}

.flavor-txt, .honor-txt, .fresh-txt, .diverse-txt, .filipino-txt, .service-txt{
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.6;
}

.orig-img{
    margin:10px 0px 0px -350px;
}

.fresh-img{
    margin:10px 0px 0px -350px;
}


.about-img{
    width: 500px;
    height:700px;
    position:absolute;
    top:1100px;
    left: 37%;
    border-radius: 20px;
    animation:scaleUp 2000ms ease-in-out;
    animation-timeline: view();
    animation-range: entry;

}

.diverse-section{
    margin:-1055px 0px 0px 1020px;
}

.service-section{
    margin:-620px 0px 0px 1020px;
}

.service-img{
    margin-left:10px;
}

.culture-section{
    margin:-190px 0px 0px 1030px;
}

.culture-img{
    margin-left:10px;
}

.diverse-img{
    margin-left: 10px;
}

@keyframes scaleUp {
    0% {
        transform: scale(1.5);
        opacity: 0;
        filter:blur(5px)
    }
    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.popular-recipes{
    margin: 200px 0px 0px 0px;
}

.popular-header{
    font-size: 3rem;
    font-weight: bold;
    margin: 0px 0px 50px 770px;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article button::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article button {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #FF4500;
    cursor: pointer;
    text-decoration: none;
}

article button:focus {
    outline: 1px dotted #FF4500;
}

article button .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #FF4500;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

  .read-more{
    font-size:1.5rem;
  }

#tinola-over, #adobo-over, #kare-kare-over{
    background:white;
    padding:20px;
    color:black;
    border-radius: 5px;
    position:absolute;
    top:2100px;
    left: 500px;
    border:none;
  }

  #tinola-over::backdrop , #adobo-over::backdrop, #kare-kare-over::backdrop {
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px);
}

#halo-halo-over, #pancit-over, #sinigang-over{
    background:white;
    padding:20px;
    color:black;
    border-radius: 5px;
    position:absolute;
    top:2300px;
    left: 500px;
    border:none;
  }

  #halo-halo-over::backdrop ,#pancit-over::backdrop,  #sinigang-over::backdrop {
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px);
}

.procedure-header{
    font-size:2rem;
}

.recipe-header{
    text-align: center;
    font-size:2rem;
    color:#FF5733;
}

.ingredients-list, .procedure-list{
    font-size:1.5rem;
}

.ingredients-header{
    font-size:1.8rem;   
}


  button{
    border:none;
    background: transparent;
    padding:0px;
  }

  .hacks{   
    margin: 150px 0px 0px 100px;
  }

  h1{
    font-size: 3rem;
    font-weight: bold;
  }

 .hacks-container{
    display:flex;
    gap:50px;
  }

  .cookbook-img, .shopping-img, .ingredients-img{
    width:500px;
    height:400px;
    margin-top:50px;
  }

  #secs img:hover {
    transform: scale(0.9);  
    border-radius: 10px;
    transition: all 0.3s ease;
}
  .cookbook-img{
    margin-left:50px;
  }

  .top-best{
    margin-left:60px;
  }

  #secs h2{
    font-size:2rem;
    margin-top:20px;
  }

footer{
    margin-top:200px;
    padding:50px;
    background:#f0f0f0;
  }

  .footer-logo{
    font-family:Verdana, sans-serif;
    color:#FF5733;
    font-size: 3rem;
    font-weight: bold;
    margin:50px 0px 0px 100px;
  }

  .ready{
    font-size:2rem;
    margin:30px 0px 0px 100px;
  }

  .signup-txt{
    font-size:1.2rem;
    margin:10px 0px 0px 100px;
  }

  .email{
    margin:10px 0px 0px 100px;
    padding:10px;
    width:400px;
    height:50px;
    border:2px solid #f5f5f5;

  }

  .signup-btn{
    background-color:#FF5733;
    color:white;
    border:none;
    border-radius: 5px;
    padding:15px;
    margin:10px 0px 0px 10px;
    cursor: pointer;
  }

  .signup-btn:hover {
    background-color: orange; 
    transform: scale(1.5); 
    transition: all 0.3s ease;
  }


  .social-txt{
    font-size:1.5rem;
    margin:40px 0px 0px 100px;
  }

  .social-txt, .social-logo{
    display:flex;
    gap:10px;
  }


  .social-logo img{
    border:2px solid grey;
    background: grey;
    border-radius: 25px;
    width:50px;
    padding:10px;
    margin:-40px 0px 0px;
  }

 .social-logo{
    position:absolute;
    left:370px;
 }

 .social-logo img:hover{
    transform: scale(0.9);  
    background: #FF5733;
    border:#FF5733;
 }

 .grid-two{
    position:absolute;
    top: 3880px;
    left:900px;
 }

 .grid-two a{
    font-size:1.5rem;
    color:#FF5733;
    display:flex;
    line-height: 40px;
 }

    .grid-two a:hover{
       text-decoration: underline;
    }

    .grid-three{
        position:absolute;
        top: 3880px;
        left:1250px;
    }

    .grid-three a{
        display:flex;
        font-size:1.2rem;
        color:grey;
        line-height: 40px;
    }

    .grid-three a:hover{
        color:black;
    }


 